*{
	font-size: 10pt;
	font-family: 宋体, Consolas;
}
body{
	background-image: url(bk.png);
	background-position: right top;
	background-repeat: no-repeat;
}
span{ 
	display: block;
	float: left;
    width: 70px
}

